<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Bowline</title>
	<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>
	<script src="javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery.chain.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascripts/jquery.bowline.js" type="text/javascript" charset="utf-8"></script>
  <script src="../script/init" type="text/ruby" charset="utf-8"></script>
  <script src="javascripts/application.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" charset="utf-8">
  <script type="text/javascript" charset="utf-8">
    // jQuery(function($){
    //   $('#assets').bowline('assets');
    // });
  </script>
</head>
<body>
</body>
</html>
